
/.DS_Store
/emacs.d/.emacs.desktop
/emacs.d/ac-comphist.dat
/emacs.d/auto-save-list/
/emacs.d/el-get/
/emacs.d/elpa/
/emacs.d/eshell/
/emacs.d/games/
/emacs.d/ido.last
/emacs.d/tramp
/vim/.netrwhist
/emacs.d/bbdb
/emacs.d/bookmarks
/emacs.d/lisp/
/emacs.d/.org-id-locations
/emacs.d/settings/no-backup-settings.el
/emacs.d/request/
/emacs.d/.emacs.desktop.lock
